/* latin-ext */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local("Fjalla One"), local("FjallaOne-Regular"), url(https://fonts.gstatic.com/s/fjallaone/v4/SHXJdWnWW6HDq-6DpcG8PwsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local("Fjalla One"), local("FjallaOne-Regular"), url(https://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6gzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: local("News Cycle Bold"), local("NewsCycle-Bold"), url(https://fonts.gstatic.com/s/newscycle/v13/G28Ny31cr5orMqEQy6ljtzrEaqfC9P2pvLXik1Kbr9s.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: local("News Cycle Bold"), local("NewsCycle-Bold"), url(https://fonts.gstatic.com/s/newscycle/v13/G28Ny31cr5orMqEQy6ljt2aVI6zN22yiurzcBKxPjFE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body, html {
  height: 100%;
  color: #8F8F8F;
  font-family: 'Fjalla One', sans-serif;
  background-color: #f9f9f9; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa; }

.ol-overlaycontainer-stopevent {
  display: none; }

text {
  fill: #8F8F8F; }

.menu {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 30%;
  background: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0)); }
  .menu.inactive .atob, .menu.inactive .sliderCont {
    display: none; }
  .menu.inactive .initBtns .explore, .menu.inactive .initBtns .interact {
    display: block; }
    .menu.inactive .initBtns .explore.hidden, .menu.inactive .initBtns .interact.hidden {
      display: none; }
  .menu.inactive .statement > div {
    border-left: 0;
    padding-left: 0; }
  .menu.inactive .statement .stmt4 {
    display: block; }
  .menu.inactive .statement .stmt1, .menu.inactive .statement .stmt2, .menu.inactive .statement .stmt3 {
    display: none; }
  .menu.explore .atob, .menu.explore .sliderCont {
    display: none; }
  .menu.explore .statement > div {
    border-left: 0;
    padding-left: 0; }
  .menu.explore .statement .stmt4 {
    display: block; }
  .menu.explore .statement .stmt1, .menu.explore .statement .stmt2, .menu.explore .statement .stmt3 {
    display: none; }
  .menu.explore .initBtns .explore {
    display: none; }
  .menu.explore .initBtns .interact {
    display: none; }
    .menu.explore .initBtns .interact.showForce {
      display: block; }
  .menu.explore .storyline {
    display: block; }
  .menu .initBtns .explore, .menu .initBtns .interact {
    display: none;
    height: 30px;
    background-color: transparent;
    border: 2px solid #484848;
    line-height: 25px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #484848; }
  .menu .initBtns .explore {
    margin-right: 5%; }
  .menu .storyline {
    display: none;
    padding: 0;
    margin-top: 5%; }
    .menu .storyline .btn {
      border: 1px solid;
      padding: 2px 8px; }
      .menu .storyline .btn.active {
        border: 2.5px solid #00BCD4;
        color: #00BCD4; }
  .menu .heading > div {
    padding: 0; }
  .menu > div {
    height: 100%; }
    .menu > div > div {
      height: 100%; }
  .menu h3 {
    font-size: 205%;
    font-weight: bold; }
    .menu h3 a {
      color: #8F8F8F;
      text-decoration: none; }
  .menu .row {
    margin-bottom: 0;
    margin-top: 0; }
  .menu .atob {
    min-height: 40px;
    position: absolute;
    width: 80%;
    bottom: 2%;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 9% auto;
    cursor: pointer; }
    .menu .atob > div {
      height: 100%;
      padding: 0 1%;
      display: inline-block;
      float: inherit;
      width: 49%; }
      .menu .atob > div input {
        display: none;
        height: 40px;
        width: 85%;
        border: 0;
        background-position: left;
        background-size: 25%;
        background-color: transparent;
        background-repeat: no-repeat;
        padding-left: 25%;
        cursor: pointer; }
        .menu .atob > div input.from {
          background-image: url("../images/A.png"); }
          .menu .atob > div input.from:hover {
            background-image: url("../images/input_a_active.png");
            color: #484848; }
          .menu .atob > div input.from.active {
            background-image: url("../images/input_a_active.png"); }
        .menu .atob > div input.to {
          background-image: url("../images/B.png"); }
          .menu .atob > div input.to:hover {
            background-image: url("../images/input_b_active.png");
            color: #484848; }
          .menu .atob > div input.to.active {
            background-image: url("../images/input_b_active.png"); }
        .menu .atob > div input.active {
          color: #484848;
          font-weight: bold;
          font-size: 120%; }
      .menu .atob > div .results {
        display: none; }
        .menu .atob > div .results .result {
          margin-bottom: 2%;
          border-bottom: 1px solid #ccc; }
        .menu .atob > div .results.active {
          display: block; }
      .menu .atob > div .closeBtn {
        display: none;
        width: 12%;
        height: 40px;
        vertical-align: bottom;
        background-image: url(../images/close.png);
        background-position: center;
        background-size: 99%;
        background-repeat: no-repeat; }
    .menu .atob.active {
      background-image: none; }
      .menu .atob.active > div input {
        display: inline-block; }
      .menu .atob.active > div .closeBtn.active {
        display: inline-block; }
  .menu .sliderCont {
    margin-bottom: 2%; }
    .menu .sliderCont .slider {
      height: 20%; }
    .menu .sliderCont.hidden {
      display: none; }
  .menu .statement {
    font-size: 135%;
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 5%;
    font-family: 'News Cycle',sans-serif; }
    .menu .statement > div {
      padding: 0;
      border-left: 2px solid #8F8F8F;
      padding-left: 4%; }
    .menu .statement .stmt1 {
      color: #00BCD4; }
      .menu .statement .stmt1.hidden {
        display: none; }
    .menu .statement .stmt2 {
      color: #484848;
      margin-bottom: 4%; }
      .menu .statement .stmt2 .dist.hidden {
        display: none; }
    .menu .statement .stmt3.hidden {
      display: none; }
    .menu .statement .stmt4 {
      margin-top: 5%;
      display: none;
      min-height: 100px;
      font-size: 110%;
      color: #00BCD4; }
      .menu .statement .stmt4 > div {
        margin-top: 6%;
        opacity: 0; }
      .menu .statement .stmt4.hidden {
        display: none; }
      .menu .statement .stmt4 .under {
        text-decoration: underline; }
    .menu .statement .areaPart {
      font-weight: bold;
      color: #00BCD4;
      padding: 0 1.5%;
      border-radius: 5%;
      margin-bottom: 5%; }
    .menu .statement .timeVal {
      border-radius: 5%;
      color: #00BCD4;
      padding: 0 1.5%; }
  .menu .slider .ticks {
    font-size: 75%; }
  .menu .slider .track,
  .menu .slider .track-inset,
  .menu .slider .track-overlay {
    stroke-linecap: round; }
  .menu .slider .track {
    stroke: url(#gradient);
    stroke-opacity: 0.3;
    stroke-width: 10px;
    fill: none; }
  .menu .slider .track-inset {
    stroke-width: 8px;
    stroke: url(#gradient);
    fill: none; }
  .menu .slider .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: pointer; }
  .menu .slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px; }

.bars {
  width: 17%;
  position: absolute;
  right: 0;
  top: 10px;
  height: 85%;
  background: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0)); }
  .bars.inactive {
    display: none; }
  .bars.explore {
    /*display: none;*/ }
  .bars .seperator {
    margin-bottom: 2%;
    font-size: 120%;
    margin-top: 2%;
    padding-top: 15px; }
  .bars .bar {
    cursor: pointer; }
    .bars .bar.hidden {
      display: none; }
    .bars .bar rect {
      fill: #8F8F8F; }
    .bars .bar .barSelected rect {
      fill: #484848; }
    .bars .bar .barSelected text {
      fill: #484848;
      font-size: 125%;
      font-weight: bold; }
    .bars .bar text {
      font-size: 80%; }
    .bars .bar .barCutoff {
      fill: #00465B; }

.lenses {
  width: 15%;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 15%;
  padding-left: 2%;
  background: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0)); }
  .lenses.inactive {
    display: none; }
  .lenses.explore {
    display: block; }
  .lenses > div {
    height: 100%; }
    .lenses > div .lens {
      margin: 5px;
      height: 50px;
      width: 50px;
      margin-top: 12.5%;
      border-radius: 50%;
      background-size: 100%;
      background-position: center;
      border: 4px solid #8F8F8F;
      cursor: pointer; }
      .lenses > div .lens.active {
        border: 5px solid #484848; }
      .lenses > div .lens.gen {
        background-image: url("../images/gen_layer.png"); }
      .lenses > div .lens.roads {
        background-image: url("../images/roads_layer.png"); }
      .lenses > div .lens.landuse {
        background-image: url("../images/landuse_layer.png"); }

.outer-cont {
  height: 100%; }
  .outer-cont .inner-cont {
    height: 100%; }
    .outer-cont .inner-cont #map {
      height: 100%;
      padding: 0; }

.tooltipCont {
  display: none;
  position: absolute;
  min-width: 10vh;
  background-color: #f9f9f9;
  top: 0;
  padding: 5px;
  border: 2px solid #8F8F8F;
  border-radius: 5px;
  text-align: center; }
  .tooltipCont.visible {
    display: block; }

/*# sourceMappingURL=main.css.map */
