body {
    background: $bg-color;
    font-family: $typeface;
    font-size: $default-font-size;
    font-color: $font-color;
    margin-top: 30px;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}