// Typefaces
$default-font: 'Open Sans', Helvetica, Arial, sans-serif;
$monospace-font: 'Roboto Mono', monospace;

// Font Sizes
$default-font-size: 13px;

// Colours
// $bg-color: #f2f2f2;
$bg-color: #fefefe;
$font-color: #333;

$main-bg-color: gray;
$typeface: 'Open Sans', Helvetica, Arial, sans-serif;

// Border
$wip-border: 1px solid black;

// Bar Height

$bar-height: 30px;